-var links = ['cosmeticos', 'accesorios', 'cuidado personal', 'miscelanea', 'contacto', 'nosotros']
-var titulos = ['productos más vendidos', 'marcas']
-var productos = ['Sombras', 'labiales', 'Iluminadores', 'Correctores', 'Esmaltes', 'Pestañinas', 'Brillos']
-var redes = ['Whatsapp', 'Facebook', 'Instagram']
-var imagenes = ['facebook.svg', 'instagram.svg', 'whatsapp.svg']


mixin caja_producto(i, prod, precio)
    .contenedorProducto
        a(href="#")
            img(src=i)
            h3= prod
            p= precio

mixin caja_marcas(img)
    .contenedorMarcas
        a(href="#")
            img(src="../assets/" + img, alt="img")