-var links = ['cosméticos', 'accesorios', 'cuidado personal', 'miscelanea', 'contacto', 'nosotros', 'politicas de envio', 'politicas de garantía']
-var titulos = ['productos mas vendidos', 'marcas']
-var productos = ['Sombras', 'labial', 'plumón', 'kit']
-var redes = ['Whatsapp', 'Facebook', 'Instagram']


