include _configuraciones

footer.footer
    .footer__parte1
        .footer__parte1__icons
            a(href="#")
                img(src="/assets/Icons/footer-f.svg", alt="Facebook")
            a(href="#")
                img(src="/assets/Icons/footer-i.svg", alt="Instagram")
            a(href="#")
                img(src="/assets/Icons/footer-w.svg", alt="WhatsApp")
                span 333 33 33
        .footer__parte1__nosotros
            a(href="#") #{links[4]}
    .footer__parte2
        .footer__parte2__envios
            a(href="#") #{links[6]}
        .footer__parte2__garantias
            a(href="#") #{links[7]}


