extends componentes/_plantilla
block contenido
    .menu
        nav.menu__productos
            ul
                each producto in productos
                    a(href="#")
                        li.menu__itemProductos #{producto}
    script(src="./JS/api.js")