extends componentes/_plantilla
block contenido
    div.logo
        img(src="" alt="Beauty Punto Com")
    
    section.mas_vendidos
        h2 #{titulos[0]}
        .mas_vendidos__contenedor__productos
            +caja_producto('img1', 'Sombras', '$15.000')
            +caja_producto('img2', 'Labial', '$10.000')
            +caja_producto('img3', 'Plumón', '$25.000')
            +caja_producto('img4', 'Kit', '$50.000')

    section.marcas
        h2 #{titulos[1]}
        .marcas__contenedor
            +caja_marcas('img1')
            +caja_marcas('img2')
            +caja_marcas('img3')
            +caja_marcas('img4')
            +caja_marcas('img5')


    
