extends componentes/_plantilla
block contenido
    div.hero
        img.hero__imagen(src="/assets/logos/logo.png" alt="Beauty Punto Com")
    
    section.topProductos
        h2.topProductos__titulo #{titulos[0]}
        .topProductos__contenedor__productos
            +caja_producto('./assets/img/Sombra.png', 'Sombras', '$15.000')
            +caja_producto('./assets/img/labial.png', 'Labial', '$10.000')
            +caja_producto('./assets/img/delineador.png', 'Plumón', '$25.000')
            +caja_producto('./assets/img/kit.png', 'Kit', '$50.000')

    section.marcas
        h2 #{titulos[1]}
        .marcas__contenedor
            +caja_marcas('img1')
            +caja_marcas('img2')
            +caja_marcas('img3')
            +caja_marcas('img4')
            +caja_marcas('img5')


    
