@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@400;500&display=swap')

color-secundario = #F2B0D6
color-primario = #F6DAEA
color-claro = #FFFFFF
color-oscuro = #000000
color-1 = #000000ED
color-2 = #4A4548
color-3 = #00000029

font-size-title = 40px
font-size-paragraphs = 22px 

font-titles = font-size-title 'Oswald', sans-serif
font-paragraphs = font-size-paragraphs 'Roboto', sans-serif



