.footer
    text-decoration none
    padding 0 20px
    background-color black
    font font-titles
    text-transform uppercase
    a
        color color-secundario
    img 
        width 30px
        margin-right 10px
    &__parte1
        height 60px
        display flex
        align-items center
        &__icons
            text-align center
            width 50%
        &__nosotros
            width 50%
            display flex
            justify-content center
    &__parte2
        height 60px
        display flex
        align-items center
        &__envios
            width 50%
            display flex
            justify-content center
        &__garantias
            width 50%
            display flex
            justify-content center
    