header 
    padding 0 20px 
    height 100px
    // border 1px solid red
    display flex
    justify-content space-between
    align-items: center
    color color-oscuro
    .header__icons
        width 300px
        display: flex
        align-items center
    a
        color color-1
        margin-right: 20px
        height 100%
    img
        height 30px
        opacity 90%
    .header__nav
        opacity 60%
        font font-titles
        font-weight bold
        width 60%
    .&__menu
        display flex
        justify-content space-between
        text-transform: uppercase
    li
        list-style none
    .header__home
        width 300px
        display flex
        align-items center
        justify-content flex-end
