@import _plantilla

.menu
    height 50px
    background-color color-oscuro
    font font-titles
    text-transform uppercase
    &__productos
        height inherit
        width 50%
        margin 0 auto    
        ul
            height inherit
            list-style none
            display flex
            justify-content space-around
            align-items center
            a
                color color-secundario
