@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
header {
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
header .header__icons {
  width: 300px;
  display: flex;
  align-items: center;
}
header a {
  color: rgba(0,0,0,0.929);
  margin-right: 20px;
  height: 100%;
}
header img {
  height: 30px;
  opacity: 90%;
}
header .header__nav {
  opacity: 60%;
  font: 16px 'Oswald', sans-serif;
  font-weight: bold;
  width: 60%;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
header li {
  list-style: none;
}
header .header__home {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer {
  text-decoration: none;
  padding: 0 20px;
  background-color: #000;
  font: 16px 'Oswald', sans-serif;
  text-transform: uppercase;
}
.footer a {
  color: #f2b0d6;
}
.footer img {
  width: 30px;
  margin-right: 10px;
}
.footer__parte1 {
  height: 60px;
  display: flex;
  align-items: center;
}
.footer__parte1__icons {
  text-align: center;
  width: 50%;
}
.footer__parte1__nosotros {
  width: 50%;
  display: flex;
  justify-content: center;
}
.footer__parte2 {
  height: 60px;
  display: flex;
  align-items: center;
}
.footer__parte2__envios {
  width: 50%;
  display: flex;
  justify-content: center;
}
.footer__parte2__garantias {
  width: 50%;
  display: flex;
  justify-content: center;
}
.hero {
  width: 100%;
  background-color: #f6daea;
  height: 550px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 6px rgba(0,0,0,0.161);
  opacity: 1;
}
.hero__imagen {
  height: 510px;
  width: 482px;
}
.topProductos {
  margin: 0 auto;
  height: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
.topProductos__titulo {
  margin-top: 65px;
  align-self: center;
  font: 36px 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #4a4548;
  font-weight: 700;
}
.topProductos__contenedor__productos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 550px;
  padding: 0 25px;
}
.topProductos__contenedor__productos .contenedorProducto {
  width: 300px;
  height: 390px;
  text-align: center;
}
.topProductos__contenedor__productos .contenedorProducto a {
  color: rgba(0,0,0,0.929);
}
.topProductos__contenedor__productos .contenedorProducto img {
  height: 300px;
  margin-top: 20px;
}
.topProductos__contenedor__productos .contenedorProducto h3 {
  margin-top: -35px;
}
.marcas {
  margin: 0 auto;
  width: 80%;
  height: 550px;
  display: flex;
  flex-direction: column;
}
.marcas h2 {
  align-self: center;
  margin-top: 25px;
  font: 36px 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #4a4548;
  font-weight: 700;
}
.marcas__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}
