@import _configuraciones
*
    margin 0
    padding 0
    box-sizing border-box

header 
    padding 0 20px 
    height 50px
    // border 1px solid red
    display flex
    justify-content space-between
    align-items: center
    color color-oscuro

    .header__nav
        opacity 60%
        font font-titles
        font-weight bold
        width 70%
    .&__menu
        display flex
        justify-content space-between
        text-transform: uppercase
    li
        list-style none


